name: release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: "The semver to use"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Setting action build runtime
        uses: actions/setup-node@v6
        with:
          check-latest: true
          node-version: 20
          package-manager-cache: false
      - uses: nearform-actions/optic-release-automation-action@9e3518763346efacba15d729d0faaa4cbd8fdd52 # v4.12.3
        with:
          github-token: ${{ github.token }}
          semver: ${{ github.event.inputs.semver }}
          sync-semver-tags: true
          build-command: |
            npm ci
            npm run build
