name: release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: "The semver to use"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major
  pull_request:
    types: [closed]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Setting action build runtime
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - uses: nearform-actions/optic-release-automation-action@v4
        with:
          github-token: ${{ github.token }}
          semver: ${{ github.event.inputs.semver }}
          sync-semver-tags: true
          build-command: |
            npm ci
            npm run build
